// Font Mixins
@mixin serif-font {
  font-family: 'Droid Serif', serif;
}
@mixin script-font {
  font-family: 'Kaushan Script', serif;
}
@mixin body-font {
  font-family: 'Jost', sans-serif;
}
@mixin heading-font {
  font-family: 'Jost', sans-serif;
}
